<!DOCTYPE html>
<html>
  <head>  
  
  <H1>Categorias</H1>

  </head>

  <body>

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
      <img class="img-responsive" <%= image_tag("/assets/burger.jpeg",  alt: "like") %> 
          <div class="overlay">
              <h2>Hamburguesas</h2>
      <p>
        <a href="#">CLICK</a>
      </p>
          </div>
  </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
<div class="hovereffect">
    <img class="img-responsive" <%= image_tag("/assets/sushi.jpeg",  alt: "like") %> 
        <div class="overlay">
            <h2>Sushi</h2>
    <p>
      <a href="#">CLICK</a>
    </p>
        </div>
</div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
<div class="hovereffect">
    <img class="img-responsive" <%= image_tag("/assets/pizza.jpeg",  alt: "like") %> 
        <div class="overlay">
            <h2>Pizza</h2>
    <p>
      <a href="#">CLICK</a>
    </p>
        </div>
</div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
<div class="hovereffect">
    <img class="img-responsive" <%= image_tag("/assets/sano.jpeg",  alt: "like") %> 
        <div class="overlay">
            <h2>Saludable</h2>
    <p>
      <a href="#">CLICK</a>
    </p>
        </div>
</div>
</div>


  </body>