<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Score</th>
      <th>User</th>
      <th>Foodplace</th>
      <th colspan="3"></th>
    </tr>
  </thead>


